body{
background-image: linear-gradient(to right, #e1eec3, #f05053);
font-family: Verdana, sans-serif;
text-align: center;
}

.survey__form{
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5) ;
}

.form__control{
    text-align: left;
    margin-bottom: 25px;
}

.form__control label{
    display: block;
    margin-bottom: 10px;
}

.form__control input, 
.form__control select,
.form__control textarea{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form__control input[type="radio"],
.form__control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: #fb98ac;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}